.clock {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 8px solid #000;
  box-shadow: 2px 2px 8px 2px rgba(22, 45, 75, 0.92);
  background-image: url("../img/bgClock2.png");
  background-size: cover;
  position: relative;
  border-radius: 50%;
  border: solid 8px black;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: bottom;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.hour {
  width: 6px;
  height: 28%;
  background-color: #000;
}

.minute {
  width: 3px;
  height: 38%;
  background-color: rgb(7, 7, 7);
}
.second {
  width: 1px;
  height: 40%;
  background-color: #ff0000;
}
